.cards {
  max-width: 880px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*grid-template-rows: repeat(2, 1fr);*/
  gap: 2rem;
  margin: 30px auto 0;
}

.card {
  max-width: 282px;
  height: 361px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__text {
  width: 246px;
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
}

.card__title {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 220px;
}

.card__like {
  display: flex;
  flex-direction: column;
}

.card__like-number {
  margin: 0 auto;
}

.card__like-button {
  background-image: url(../images/vectorCardButton.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  width: 21px;
  height: 19px;
  margin: 25px 0 0;
  background-color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__like-button.active {
  background-image: url(../images/vectorLikeButtonActive.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 21px;
  height: 19px;
  opacity: 8;
}

.card__delete-button {
  background-image: url(../images/deleteCardButton.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
  width: 18px;
  height: 19px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.card__delete-button:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1279px) {
  .cards {
    max-width: 700px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }
}
